<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="crane_arm_transmission" params="prefix:='' hw_interface:='hardware_interface/PositionJointInterface'">
    <transmission name="jointb_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}jointb">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}jointb_motor_pl">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="joint1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint1_motor_pl">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="joint2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint2_motor_pl">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="jointA1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}jointA1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}jointA1_motor_pl">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="jointA2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}jointA2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}jointA2_motor_pl">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="arm_3e_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}arm_3e">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}arm_3e_actuator">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="jointA1e_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}jointA1e">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}jointA1e_actuator">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="jointA2e_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}jointA2e">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}jointA2e_actuator">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>
